<h1>Recent Gleets</h1>

<div class="display_all_gleets">
  <ul><% @gleets.each do |gleet| %>
    <li><%= gleet.user.handle %> says:<em> <%= link_to gleet.content, gleet_path(gleet) %> </em></li>
  <% end %>
  </ul>
</div>
